<div class="containerGlobal">

  <app-navbar></app-navbar>



  <div class="body">

    <div class="titleContainer mb-4 mt-4 w-100">
      <h1 class="fw-bold">Paciente</h1>
    </div>

    <div class="container-fluid">

      <div>
        <app-son-patient-odontologia *ngIf="showSonPatientOdontologia" [eventSubject]="eventSubject"  (idPaciente)="idPacienteEvento($event)" (informacionPaciente)="recibirInformacionPaciente($event)">
        </app-son-patient-odontologia>

        <app-son-patient-ortodoncia *ngIf="showSonPatientOrtodoncia" [eventSubject]="eventSubject" (idPaciente)="idPacienteEvento($event)" (informacionPaciente)="recibirInformacionPaciente($event)">
        </app-son-patient-ortodoncia>
      </div>


      <div class="row mx-auto mb-3 justify-content-end" style="width: 90%;">
        <button type="button" class="btn btn-success col-2 me-2" (click)="editar()" >Editar datos</button>

        <!-- Button trigger modal -->

        <button  type="button" class="btn btn-danger col-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar historial</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Eliminar historial</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p> Eliminar {{history}} del paciente: </p>
                <p>{{nombres}} identificado con {{tipoDoc}} numero: {{numeroDocumento}} </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
            </div>
          </div>
        </div>

         <!-- Modal fin -->



      </div>

      <div class="row mx-auto mb-3 text-white" style="width: 90%;">
        <div class="col hover-transition p-2 rounded-start border-end" (click)="showDiv('R')">Radiografia</div>
        <div class="col hover-transition p-2 rounded-end border-start" (click)="showDiv('T')">Registros</div>
      </div>

      <!----- Esto seria lo que apareceria si se da click en radiografia ----->

      <div *ngIf="showDivRadiografias" class="row mx-auto mb-3" style="width: 90%;">

        <img src="https://cdn.pixabay.com/photo/2016/12/05/20/39/x-ray-1884888_1280.png" class="img-fluid"
          alt="Radiografia">

      </div>

      <!-------------------------------------------------------------------------->



      <!----- Esto seria lo que apareceria si se da click en Registros ----->

      <div *ngIf="showDivTable" class="row mx-auto mb-3" style="width: 90%;">

        <table class="table table-striped">
          <thead>
            <tr style="background-color: #ab4181;">
              <th scope="col" class="text-white fw-normal">Fecha</th>
              <th scope="col" class="text-white fw-normal">Id Paciente</th>
              <th scope="col" class="text-white fw-normal">Consulta</th>
              <th scope="col" class="text-white fw-normal">Descripción</th>
              <th scope="col" class="text-white fw-normal">Precio</th>
            </tr>
          </thead>
          <tr *ngFor="let record of records">
            <td>{{record.fecha}}</td>
            <td>{{record.paciente_id}}</td>
            <td>{{record.consulta}}</td>
            <td>{{record.descripcion}}</td>
            <td>{{record.precio}}</td>
          </tr>
          <tbody>
          </tbody>
        </table>

        <div class="row mx-auto justify-content-end">
          <button type="button" class="btn btn-info col-2 text-white">Nuevo registro</button>
        </div>

      </div>

      <!-------------------------------------------------------------------------->








    </div>


  </div>




</div>
