<div class="containerGlobal">

    <app-navbar></app-navbar>
  
  
  
    <div class="body">
  
      <div class="titleContainer mb-4 mt-4 w-100">
        <h1 class="fw-bold">Paciente</h1>
      </div>
  
      <div class="container-fluid">

        <div class="card mx-auto mb-3" style="overflow-y: scroll;width: 90%; max-height: 320px;">
            <div class="card-body">

                <div class="container">
                    <div class="row">
                        <img src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_1280.png" class="col-2 img-fluid" alt="Foto usuario" style="width: 13%; height: 13%;">
                        <div class="container col-10">

                            <p class="fw-bold">Datos básicos</p>
                            <div class="row">
                                <p class="col text-start">Nombre: Juan Sebastian Correa Sánchez</p>
                            </div>
                            <div class="row">  
                              <p class="col text-start">Tipo de documento: C.C</p>
                              <p class="col text-start">No: 1057611576</p>
                              <p class="col text-start">Fecha de nacimiento: 13/11/1999</p>
                            </div>
                            <div class="row">  
                                <p class="col text-start">Edad: 23</p>
                                <p class="col text-start">Sexo: Edad</p>
                                <p class="col text-start">Ocupación: Estudiante</p>
                            </div>
                            <div class="row">  
                                <p class="col text-start">Ciudad de nacimiento: Sogamoso</p>
                                <p class="col text-start">Ciudad de residencia: Sogamoso</p>
                                <p class="col text-start">Dirección: Calle 5a 18-50</p>
                            </div>
                            <div class="row border-bottom">  
                                <p class="col text-start">Teléfono: 3046649174</p>
                                <p class="col text-start">Estado civil: Soltero</p>
                                <p class="col text-start">Servicio de salud: Nueva EPS</p>
                            </div>

                            <p class="fw-bold mt-2">Acudiente</p>
                            <div class="row mt-2">  
                                <p class="col text-start">Acudiente: Donovan Steven Picon Sossa</p>
                                <p class="col text-start">Parentesco: Amigo</p>
                            </div>
                            <div class="row border-bottom">  
                                <p class="col text-start">Edad: 21 creo</p>
                                <p class="col text-start">Teléfono: 3144391482</p>
                            </div>

                        </div>
                    </div>



                    <div class="row ps-4">

                        <!----- Esto seria lo que apareceria si es un historial de odontologia ----->

                        <p class="fw-bold mt-2">Historial Clínico de Odontología</p>

                        <div class="row mt-2 border border-2">  
                            <p class="col text-start border-end">Higiene oral: Bueno</p>
                            <p class="col text-start border-end">Cepillado: Si</p>
                            <p class="col text-start">Veces de cepillado: 3</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Enjuague bucal: Si</p>
                            <p class="col text-start">Seda dental: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start">Plan de tratamiento: blabla bla blabla bla tal cosa</p>
                        </div>


                        <p class="fw-bold mt-2">Anamnesis</p>

                        <div class="row mt-2 border border-2">  
                            <p class="col text-start border-end">Hipertensión: Si</p>
                            <p class="col text-start border-end">Enfermedades respiratorias: No</p>
                            <p class="col text-start">Cardiopatias: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Sistema digestivo: Si</p>
                            <p class="col text-start border-end">Fiebre reumatica: No</p>
                            <p class="col text-start">Hepatitis: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Enfermedades renales: Si</p>
                            <p class="col text-start border-end">Enfermedades gastrointestinales: No</p>
                            <p class="col text-start">Quirurgico: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Traumático: Si</p>
                            <p class="col text-start border-end">Tratamiento médico: No</p>
                            <p class="col text-start">Toma medicamentos: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Alergia: Si</p>
                            <p class="col text-start border-end">Embarazo: No</p>
                            <p class="col text-start">Diabetes: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Neoplasias: Si</p>
                            <p class="col text-start border-end">Enfermedadad hemorrogica: No</p>
                            <p class="col text-start">Nf neurologicas: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Grupo sanguíneo: B</p>
                            <p class="col text-start">Rh: +</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="text-start">Observaciones: blabla bla blabla bla tal cosa</p>
                        </div>


                        <p class="fw-bold mt-2">Examen Tejidos Blandos</p>

                        <div class="row mt-2 border border-2">  
                            <p class="col text-start border-end">Labios: Normal</p>
                            <p class="col text-start border-end">Carrillos: Alterado</p>
                            <p class="col text-start">Frenillos: Normal</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Encías: Alterado</p>
                            <p class="col text-start border-end">Paladar: Normal</p>
                            <p class="col text-start">Lengua: Alterado</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Orofaringe: Alterado</p>
                            <p class="col text-start border-end">Glándulas: Normal</p>
                            <p class="col text-start">Piso de la boca: Alterado</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col-4 text-start border-end">Músculos masticatorios: Alterado</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="text-start">Otros: blabla bla blabla bla tal cosa</p>
                        </div>


                        <p class="fw-bold mt-2">Examen Tejidos Dentales</p>

                        <div class="row mt-2 border border-2">  
                            <p class="col text-start border-end">Supernumerarios: Si</p>
                            <p class="col text-start border-end">Abrasion: No</p>
                            <p class="col text-start">Incluidos: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Maloclusiones: No</p>
                            <p class="col text-start border-end">Cambio de color: Si</p>
                            <p class="col text-start">Trauma: No</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col-4 text-start border-end">Patología pulpar: No</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="text-start">Otros: blabla bla blabla bla tal cosa</p>
                        </div>


                        <p class="fw-bold mt-2">Examen Periodontal</p>

                        <div class="row mt-2 border border-2">  
                            <p class="col text-start border-end">Bolsas: Si</p>
                            <p class="col text-start border-end">Movilidad: No</p>
                            <p class="col text-start">Placa blanda: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col-4 text-start border-end">Cálculos: No</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="text-start">Observaciones: blabla bla blabla bla tal cosa</p>
                        </div>

                        <!-------------------------------------------------------------------------->



                        <!----- Esto seria lo que apareceria si es un historial de ortodoncia ----->

                        <p class="fw-bold mt-2">Historial Clínico de Ortodoncia</p>

                        <div class="row mt-2 border border-2">  
                            <p class="col text-start border-end">Linea media: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Overjet: blabla bla blabla bla tal cosa</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Overbite: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Perdida de dientes: blabla bla blabla bla tal cosa</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Migraciones: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Asimetría facial: blabla bla blabla bla tal cosa</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Apinamiento superior: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Apinamiento inferior: blabla bla blabla bla tal cosa</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Perfil: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Hábitos de dientes: blabla bla blabla bla tal cosa</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Relación canina derecha: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Relación canina izquierda: blabla bla blabla bla tal cosa</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Relación molar derecha: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Relación molar izquierda: blabla bla blabla bla tal cosa</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Mal posición dental superior: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Mal posición dental inferior: blabla bla blabla bla tal cosa</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Mordida cruzada: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Otros: blabla bla blabla bla tal cosa</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Pronóstico: blabla bla blabla bla tal cosa</p>
                            <p class="col text-start">Plan de tratamiento: blabla bla blabla bla tal cosa</p>
                        </div>


                        <p class="fw-bold mt-2">Anamnesis</p>

                        <div class="row mt-2 border border-2">  
                            <p class="col text-start border-end">Hipertensión: Si</p>
                            <p class="col text-start border-end">Enfermedades respiratorias: No</p>
                            <p class="col text-start">Cardiopatias: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Sistema digestivo: Si</p>
                            <p class="col text-start border-end">Fiebre reumatica: No</p>
                            <p class="col text-start">Hepatitis: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Enfermedades renales: Si</p>
                            <p class="col text-start border-end">Enfermedades gastrointestinales: No</p>
                            <p class="col text-start">Quirurgico: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Traumático: Si</p>
                            <p class="col text-start border-end">Tratamiento médico: No</p>
                            <p class="col text-start">Toma medicamentos: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Alergia: Si</p>
                            <p class="col text-start border-end">Embarazo: No</p>
                            <p class="col text-start">Diabetes: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Neoplasias: Si</p>
                            <p class="col text-start border-end">Enfermedadad hemorrogica: No</p>
                            <p class="col text-start">Nf neurologicas: Si</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="col text-start border-end">Grupo sanguíneo: B</p>
                            <p class="col text-start">Rh: +</p>
                        </div>
                        <div class="row border-end border-start border-bottom border-2">  
                            <p class="text-start">Observaciones: blabla bla blabla bla tal cosa</p>
                        </div>

                        <!-------------------------------------------------------------------------->

                    </div>


                </div>

                
            </div>
        </div>

        <div class="row mx-auto mb-3 justify-content-end" style="width: 90%;">
            <button type="button" class="btn btn-success col-2 me-2">Editar datos</button>
            <button type="button" class="btn btn-danger col-2">Eliminar historial</button>
        </div>

        <div class="row mx-auto mb-3 text-white" style="width: 90%;">
            <div class="col hover-transition p-2 rounded-start border-end">Radiografia</div>
            <div class="col hover-transition p-2 rounded-end border-start">Registros</div>
        </div>
  
        <!----- Esto seria lo que apareceria si se da click en radiografia ----->

        <div class="row mx-auto mb-3" style="width: 90%;">  
  
            <img src="https://cdn.pixabay.com/photo/2016/12/05/20/39/x-ray-1884888_1280.png" class="img-fluid" alt="Radiografia">
  
        </div>

        <!-------------------------------------------------------------------------->



        <!----- Esto seria lo que apareceria si se da click en Registros ----->

        <div class="row mx-auto mb-3" style="width: 90%;">  
  
            <table class="table table-striped">
                <thead>
                  <tr style="background-color: #ab4181;">
                    <th scope="col" class="text-white fw-normal">Fecha</th>
                    <th scope="col" class="text-white fw-normal">Id Paciente</th>
                    <th scope="col" class="text-white fw-normal">Consulta</th>
                    <th scope="col" class="text-white fw-normal">Descripción</th>
                    <th scope="col" class="text-white fw-normal">Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="background-color: white;">
                    <td>17/04/23</td>
                    <td>Dr. Muelitas</td>
                    <td>Ortodoncia</td>
                    <td>Control mensual</td>
                    <td>$80.000</td>
                  </tr>
                  <tr style="background-color: #EFD1E3;">
                    <td>17/04/23</td>
                    <td>Dr. Muelitas</td>
                    <td>Ortodoncia</td>
                    <td>Control mensual</td>
                    <td>$80.000</td>
                  </tr>
                  <tr style="background-color: white;">
                    <td>17/04/23</td>
                    <td>Dr. Muelitas</td>
                    <td>Ortodoncia</td>
                    <td>Control mensual</td>
                    <td>$80.000</td>
                  </tr>
                  <tr style="background-color: #EFD1E3;">
                    <td>17/04/23</td>
                    <td>Dr. Muelitas</td>
                    <td>Ortodoncia</td>
                    <td>Control mensual</td>
                    <td>$80.000</td>
                  </tr>
                </tbody>
              </table>

              <div class="row mx-auto justify-content-end">
                <button type="button" class="btn btn-info col-2 text-white">Nuevo registro</button>
            </div>
  
        </div>

        <!-------------------------------------------------------------------------->
  
  
      </div>
  
  
    </div>
  
  

  
</div>
