<div class="GlobalContainer">



  <div class="body">

    <h1 class="fw-bold">Datos Odontologia</h1>

    <div class="form_odontologia">


      <div class="higieneOral">
        <label>Higiene oral</label>
        <div class="row">
          <div class="col-md-8">

            <select class="form-select" id="higiene">
              <option value="default">Selecione una opción...</option>
              <option value="bueno">Bueno</option>
              <option value="malo">Malo</option>
              <option value="regular">Regular</option>
            </select>
          </div>
        </div>
      </div>

      <div class="cepillado">
        <label>Cepillado</label>
        <div class="row">
          <div class="col-md-8">

            <select class="form-select" id="cepillado">
              <option value="default">Selecione una opción...</option>
              <option value="si">Si</option>
              <option value="no">No</option>

            </select>
          </div>
        </div>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="numeroCepillado"
          name="Numero_cepillado">
        <label for="floatingInput">Numero Cepillado</label>
      </div>


      <div class="enjuague" id="a">
        <label>Enjuague bucal</label>
        <div class="row">
          <div class="col-md-8">

            <select class="form-select" id="enjuague">
              <option value="default">Selecione una opción...</option>
              <option value="si">Si</option>
              <option value="no">No</option>

            </select>
          </div>
        </div>
      </div>


      <div class="seda" id="a">
        <label>Seda denta</label>
        <div class="row">
          <div class="col-md-8">

            <select class="form-select" id="seda">
              <option value="default">Selecione una opción...</option>
              <option value="si">Si</option>
              <option value="no">No</option>

            </select>
          </div>
        </div>
      </div>


      <div class="form-floating">
        <textarea name="plan_tratamiento" class="form-control" id="floatingInput" placeholder="planTratamiento"cols="300" rows="10"></textarea>

        <label for="floatingInput">Plan de tratamiento</label>
      </div>





    </div>
  </div>
</div>
