<div class="GlobalContainer">



  <div class="body">

    <h1 class="fw-bold">Anamnesis</h1>

    <div class="form_ananmesis">

      <div class="hipertencion" id="radioButton">

        <label for="text">Hiper tencion: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>

      </div>


      <div class="respiratorias" id="radioButton">

        <label for="text">Enfermedades respiratorias: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>

      </div>


      <div class="cardiopatias" id="radioButton">

        <label for="text">Cardiopatias: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>

      </div>

      <div class="sistemaDigestivo" id="radioButton">

        <label for="text">Sistema digestivo: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>

      </div>


      <div class="fiebreReumatica" id="radioButton">
        <label for="text">Fiebre reumatica: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>


      <div class="hepatitis" id="radioButton">
        <label for="text">Hepatitis: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>


      <div class="renales" id="radioButton">
        <label for="text">Enfermedades renales: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>


      <div class="gastrointestinales" id="radioButton">
        <label for="text">Enfer. gatrointestinales: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>


      <div class="quirurgico" id="radioButton">
        <label for="text">Quirurgico: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>

      <div class="traumatico" id="radioButton">
        <label for="text">Traumatico: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>

      <div class="traumaticoMedico" id="radioButton">
        <label for="text">Traumatico medico: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>


      <div class="alergias" id="radioButton">
        <label for="text">Alergias: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>

      <div class="embarazo" id="radioButton">
        <label for="text">Embarazo: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>

      <div class="diabetes" id="radioButton">
        <label for="text">Diabetes: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>

      <div class="neoplasias" id="radioButton">
        <label for="text">Neoplacias: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>

      <div class="hemorrogica" id="radioButton">
        <label for="text">Enfer. hemorrogica: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>

      <div class="neurologicas" id="radioButton">
        <label for="text">Nf neurologicas: </label>
        <div class="form-check form-check-inline" id="SI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="SI">
          <label class="form-check-label" for="inlineRadio1">SI</label>
        </div>

        <div class="form-check form-check-inline" id="NO">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
          <label class="form-check-label" for="inlineRadio1">NO</label>
        </div>
      </div>


      <div class="grupoSangineo" id="radioButton">
        <label for="text">Grupo sangineo: </label>
        <div class="form-check form-check-inline" id="A">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="A">
          <label class="form-check-label" for="inlineRadio1">A</label>
        </div>

        <div class="form-check form-check-inline" id="B">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="B">
          <label class="form-check-label" for="inlineRadio1">B</label>
        </div>

        <div class="form-check form-check-inline" id="AB">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="AB">
          <label class="form-check-label" for="inlineRadio1">AB</label>
        </div>

        <div class="form-check form-check-inline" id="O">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="O">
          <label class="form-check-label" for="inlineRadio1">O</label>
        </div>
      </div>


      <div class="rh" id="radioButton">
        <label for="text">RH: </label>
        <div class="form-check form-check-inline" id="+">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="+">
          <label class="form-check-label" for="inlineRadio1">+</label>
        </div>

        <div class="form-check form-check-inline" id="-">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="-">
          <label class="form-check-label" for="inlineRadio1">-</label>
        </div>
      </div>

      <div class="form-floating" id="observaciones">
        <textarea name="observaciones" class="form-control" id="floatingInput" placeholder="planTratamiento"cols="300" rows="10"></textarea>

        <label for="floatingInput">Observaciones</label>
      </div>

    </div>

    <br>


    <button class="btn btn-primary">Enviar</button>
  </div>
</div>
