<div class="GlobalContainer">

  <app-navbar></app-navbar>


  <div class="body">

    <h1 class="fw-bold">Nuevo Historial </h1>


    <div class="containerForm">


      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="ID" name="ID">
        <label for="floatingInput">ID</label>
      </div>

      <div class="tipoId">

        <div class="form-check form-check-inline" id="CC">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="CC">
          <label class="form-check-label" for="inlineRadio1">C.C</label>
        </div>
        <div class="form-check form-check-inline" id="TI">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="TI">
          <label class="form-check-label" for="inlineRadio2">T.I</label>
        </div>

        <div class="form-check form-check-inline" id="PAS">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="PAS">
          <label class="form-check-label" for="inlineRadio3">PAS</label>
        </div>


      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="name" name="Nombres">
        <label for="floatingInput">Nombres</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="A" name="Apellidos">
        <label for="floatingInput">Apellidos</label>
      </div>

      <div class="datepiker">

        <mat-form-field class="custom-form-field" appearance="fill">
          <mat-label>Fecha nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

      <div class="sexo">
        <label >Género</label>
        <div class="row">
          <div class="col-md-8">
          
            <select class="form-select" id="genero">
                <option value="default">Selecione una opción...</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
          </div>
        </div>
      </div>


      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="name" name="EstadoCivil">
        <label for="floatingInput">Estado Civil</label>
      </div>


      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="A" name="CiudadNacimiento">
        <label for="floatingInput">Ciudad de nacimiento</label>
      </div>


      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="A" name="Ocupacion">
        <label for="floatingInput">Ocupacion</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="A" name="ServicioSalud">
        <label for="floatingInput">Servicio de salud</label>
      </div>


      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="A" name="CiudadResidencia">
        <label for="floatingInput">Ciudad de residencia</label>
      </div>


      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="A" name="Direccion">
        <label for="floatingInput">Dirección</label>
      </div>


      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="A" name="telefono">
        <label for="floatingInput">Numero de celular</label>
      </div>



    </div>
  </div>


</div>
