<div class="GlobalContainer">

  <app-navbar></app-navbar>


  <div class="body">

    <h1 class="fw-bold">Nuevo Historial </h1>


    <div class="containerForm">


      <div class="form-floating">
        <input [(ngModel)]="paciente.id" type="text" class="form-control" id="floatingInput" placeholder="ID" name="ID" maxlength="30" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
        <label for="floatingInput">ID</label>
      </div>

      <div class="tipoId">

        <div class="form-check form-check-inline" id="CC">
          <input [(ngModel)]="paciente.tipoID" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="CC">
          <label class="form-check-label" for="inlineRadio1">C.C</label>
        </div>
        <div class="form-check form-check-inline" id="TI">
          <input [(ngModel)]="paciente.tipoID" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="TI">
          <label class="form-check-label" for="inlineRadio2">T.I</label>
        </div>

        <div class="form-check form-check-inline" id="PAS">
          <input [(ngModel)]="paciente.tipoID" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="PAS">
          <label class="form-check-label" for="inlineRadio3">PAS</label>
        </div>

        <div class="form-check form-check-inline" id="CE">
          <input [(ngModel)]="paciente.tipoID" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="CE">
          <label class="form-check-label" for="inlineRadio4">CE</label>
        </div>

        <div class="form-check form-check-inline" id="CEX">
          <input [(ngModel)]="paciente.tipoID" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="CEX">
          <label class="form-check-label" for="inlineRadio5">CEX</label>
        </div>


      </div>

      <div class="form-floating">
        <input [(ngModel)]="paciente.nombre" type="text" class="form-control" id="floatingInput" placeholder="name" name="Nombres">
        <label for="floatingInput">Nombres</label>
      </div>

      <div class="datepiker">
        <mat-form-field class="custom-form-field" appearance="fill">
          <mat-label>Fecha nacimiento</mat-label>
          <input [(ngModel)]="paciente.fechaNacimiento" matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>


      <div class="form-floating">
        <input [(ngModel)]="paciente.apellido" type="text" class="form-control" id="floatingInput" placeholder="A" name="Apellidos">
        <label for="floatingInput">Apellidos</label>
      </div>


      <div class="sexo">
        <label >Género</label>
        <div class="row">
          <div class="col-md-8">

            <select [(ngModel)]="paciente.genero" class="form-select" id="genero">
                <option value="default">Selecione una opción...</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
          </div>
        </div>
      </div>


      <div class="form-floating">
        <input [(ngModel)]="paciente.estadoCivil" type="text" class="form-control" id="floatingInput" placeholder="name" name="EstadoCivil">
        <label for="floatingInput">Estado Civil</label>
      </div>


      <div class="form-floating">
        <input [(ngModel)]="paciente.ciudadNacimiento" type="text" class="form-control" id="floatingInput" placeholder="A" name="CiudadNacimiento">
        <label for="floatingInput">Ciudad de nacimiento</label>
      </div>


      <div class="form-floating">
        <input [(ngModel)]="paciente.ocupacion" type="text" class="form-control" id="floatingInput" placeholder="A" name="Ocupacion">
        <label for="floatingInput">Ocupacion</label>
      </div>

      <div class="form-floating">
        <input [(ngModel)]="paciente.servicioSalud" type="text" class="form-control" id="floatingInput" placeholder="A" name="ServicioSalud">
        <label for="floatingInput">Servicio de salud</label>
      </div>


      <div class="form-floating">
        <input [(ngModel)]="paciente.ciudadResidencia" type="text" class="form-control" id="floatingInput" placeholder="A" name="CiudadResidencia">
        <label for="floatingInput">Ciudad de residencia</label>
      </div>


      <div class="form-floating">
        <input [(ngModel)]="paciente.direccion" type="text" class="form-control" id="floatingInput" placeholder="A" name="Direccion">
        <label for="floatingInput">Dirección</label>
      </div>


      <div class="form-floating">
        <input [(ngModel)]="paciente.celular" type="text" class="form-control" id="floatingInput" placeholder="A" name="telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" >
        <label for="floatingInput">Numero de celular</label>
      </div>


    </div>

    <button class="btn btn-primary" (click)="prueba()">Enviar</button>

    <br>
    <br>

    <app-son-new-history-form-odontology></app-son-new-history-form-odontology>

    <br>
    <br>
    <app-son-new-history-form-anamnesis></app-son-new-history-form-anamnesis>

    <br>
    <br>
    <app-son-new-history-examen-periodontal [eventSubject]="eventSubject"></app-son-new-history-examen-periodontal>

    <br>
    <br>
    <app-son-new-history-examen-tejidos-dentales></app-son-new-history-examen-tejidos-dentales>


  </div>


</div>
